*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito",sans-serif;
    text-decoration: none;
}
.nav{
    color: red;
    background-color: #d0d0;
    height: 2000px;
}